* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: PiecesOfEight; /* Имя шрифта */
    src: url(../fonts/PiecesOfEight.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: PiecesOfEightAlt; /* Имя шрифта */
    src: url(../fonts/PiecesOfEightAlt.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: MagicMedieval; /* Имя шрифта */
    src: url(../fonts/MagicMedieval.ttf); /* Путь к файлу со шрифтом */
   }   

html {
    background: url(../img/bg.jpg) no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

body {
    width: 1200px;
    margin: 0 auto;
}

.content {float: left;}

.header {
    float: left;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
}

.menu {
    margin: -10px -20px;
    margin-top: 20px;
    text-align: center;
    background: #ddd;
    padding: 5px
}

.menu button { 
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border: none;
    margin: 0px 20px;
    width: 150px;
}

.menu button:hover { 
    background: rgb(53, 167, 110);   
    cursor: pointer;}

.menu button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.selected{
    border: 10px solid #ff0;
}
.in-focus{
    box-shadow: 0 0 10px 5px rgb(0, 153, 255);
    cursor: pointer;
    border: 1px solid #fff;

}
.user{
    float: left;
    width: 200px;
}
/*.card {
    float: left;
    width: 200px;
    border: 4px solid #000;
    margin-right: 15px;
}

.card * {box-sizing: border-box; margin: 0px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;  
cursor: pointer;}

.card .name {float: left; padding: 5px 10px; background: #333; color: #fff; width: 100%;}

.card img {float: left; width: 100%; border-bottom: 3px solid; border-top: 3px solid; color: #ddd;}

.stats {background: #333; float: left; width: 100%; padding: 0px; margin: 0px; color: #ddd; border-bottom: 3px solid;}
.stats span {float: left; padding: 5px 10px; width: 50%; text-align: center;}
.description {float: left; width: 100%; height: 50px; background: #a1ce7b; padding: 10px;}
.spels {float: left; width: 100%; background: #333; padding: 0px 15px; color: #fff;} 
.spels span  {list-style: none; float: left; width: 100%; padding: 5px 0px;}
.spels span:empty {display: none;}*/

.playerPanel {
    background: #fff;
    margin-top: 10px; 
    border: 2px solid #000; 
    width: 250px; 
    float: left;
}

.playerPanel .ava {
    float: left; 
    border-bottom: 3px solid #000; 
    width: 100%;
}

.row {
    float: left; 
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box; 
    border-bottom: 2px solid #000;
}

.row:last-child {border: none;}

.playerPanel .row-user-name {}

.user-name, .lvl, .wins, .loses {float: left; margin-right: 10px;}

.icon:before {
    display: inline-block;
    text-align: center;
    margin: 0px;
    padding: 0px;
    float: left;
    margin-top: -2px;
    margin-right: 5px;
    font-size: 20px;
    font-family: FontAwesome;
    content: "\f007";
}

.icon.lvl:before { 
    content: "\f007";
}
.game-zone {float: left; background: rgba(0, 0, 0, 0.5); width: 1200px;position: relative;padding: 20px ;/* margin-top: 20px; */}
.player {float: left;  width: 150px; background: #f00; margin-top: 10px; margin: 10px; padding: 5px 10px}
.player .ava {width: 150px; width: 150px; padding: 5px; padding-bottom: 10px; box-sizing: border-box; border-bottom: 2px solid #ddd;}
.board {float: left;  width: 975px;margin-top: 10px;}
.user-info {float: left; background: #0f0; width: 100%;}
.heath-info {float: left; width: 100%;}
.heath-info * {float: left;}
.heath-info .health-label {margin-right: 10px;}
.user-info .rank {float: right;}
.username-battle {float: left;}
.row-power {float: left; width: 100%;}
.row-power * {float: left;}


.card {width: 140px; /*height: 235px; */ height: 350px; border: 1px solid #000; margin: 10px; border:  1px solid #0f0; float: left; position: relative;}

.card img {width: 100%;}
.card.empty {
background: url(../img/card/card-null.png);
background-size: 100%;
}
.cards-panel {float: left; background: #000;border:  1px solid #ddd;}
.panel1 {margin-bottom: 10px;}
.avalible-cards { float: right; width: 1075px; margin-top: 10px; margin-right: 25px;}
.avalible-cards img {width: 100%; float: left;}

.speciality-panel.Fire { background: url(../img/card/standart/fire.jpg); background-size: auto 100%;}
.speciality-panel.Water { background: url(../img/card/standart/water.jpg); background-size: auto 100%;}
.speciality-panel.Air { background: url(../img/card/standart/air.jpg); background-size: auto 100%;}
.speciality-panel.Earth { background: url(../img/card/standart/earth.jpg); background-size: auto 100%;}
.speciality-panel.Naruto {background: #ff0;}

.speciality-panel {float: left; width: 192px; margin: 0px 10px}
.speciality-panel:first-child {margin-left: 10px}
.speciality-panel:last-child {margin-right: 0px;}
.avalible-card {float: left; width: 160px;  background: #f0f; margin-bottom: 10px;margin: 10px; box-sizing: content-box; border: 1px solid #fff; position: relative; margin-left: 15px}

.control-panel {float: left; width: 100%; color: #fff;font-family: MagicMedieval;font-style: italic;}
.timer {float: left; background: #fff; color: #000; width: 29px; /* height: 50px; */ margin: 0 auto;font-size: 26px;clear: both;margin-left: 40px;padding: 10px;padding-top: 12px;border-radius: 50px;}
.timers-panel {float: left; width: 130px; text-align: center;}
.current-player  {float: left; /* background: #0f0; */ width: 530px; height: 40px;font-size: 40px;font-style: italic;padding: 10px;box-sizing: border-box;}
.turn {float: left; width: 530px;  font-size: 30px;text-align: right;padding: 10px;box-sizing: border-box;}
.buttons-row {float: left; width: 100%; margin-top: 10px; border-bottom: 2px solid; border-top: 2px solid; border-color: #ff0; padding: 10px; box-sizing:border-box;text-align: center;}
.buttons-row button {width: 100px;}
.timer-over {float: left; width: 100%; height: 15px;padding: 7px 0px;font-size: 20px;text-align: center;color: red;}

.button {
color: white;
text-decoration: none;
padding: .8em 1em calc(.8em + 3px);
background: #fff;
transition: 0.2s;
border: none;
margin: 0px 10px;
color: #000;
}

.button:hover {
    background: rgb(53,167,110);
    cursor: pointer;
    color: #fff;
    box-shadow: 0 -3px rgb(255,255,255) inset;
}

.cards-stats {float: left;}
.cards-stats * {float: left;}

.icon-cost {position: absolute; color: #fff; bottom: 0px;}
.icon-damage, .icon-health {background: #000;}
.icon-damage {position: absolute; color: #fff; top: 0px; border: 1px solid #fff; margin: -1px; padding: 5px; padding-top: 7px; padding-right: 8px }
.icon-health {position: absolute; color: #fff; top: 0px; right: 0px; border: 1px solid #fff; margin: -1px; padding: 5px; padding-top: 7px; padding-left: 8px }


.icon-cost:before {content: "\f185"; color: #ff0; }

.icon-damage:before {content: "\f0e3"; color: #666; 
text-shadow: #FFFFFF 1px 0px, #FFFFFF -1px 0px, #FFFFFF 0px 1px, #FFFFFF 0px -1px, #FFFFFF 1px 1px, #FFFFFF -1px -1px, #FFFFFF -1px 1px, #FFFFFF 1px -1px, #FFFFFF 0 0 2px, #FFFFFF 0 0 2px}


.icon-health:before {content: "\f004"; color: #ce0216; 
text-shadow: #FFFFFF 1px 0px, #FFFFFF -1px 0px, #FFFFFF 0px 1px, #FFFFFF 0px -1px, #FFFFFF 1px 1px, #FFFFFF -1px -1px, #FFFFFF -1px 1px, #FFFFFF 1px -1px, #FFFFFF 0 0 2px, #FFFFFF 0 0 2px}

